*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header{
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    align-items: center;

}


.menu{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.menu > a{
    color: #ffffff;
    text-decoration: none;
    padding: 35px 0 35px 0;
    width: 50%;
    text-align: center;
    border-start-end-radius: 50px;
    border-start-start-radius: 50px;
    border-end-end-radius: 50px;
    border-end-start-radius: 50px;
}
a{
    padding: 38px 0 38px 0;
    border-top: 5px transparent solid;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
}

.menu > a:hover{
    background-color: #EB9682;
}
.logo{
    display: flex;
    align-items: center;
    color: #ffffff;
    padding-left: 50px;
    
}

.carousel-item{
    height: auto;
    max-height: 600px;
    }

  #historial{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    justify-content: space-between;
    background-color: #EB9682;
    text-align: center;
    width:20%;

}
#historial > p {
    color: #b9e6ff;
}
#historial > h5{
    color: #b9e6ff;
}
#historial > h4{
    color: #b9e6ff;
}
#historial > img {
    height: 200px;
    width: 200px;
}
 
#contenido{
    display: flex;
    background-color: #b9e6ff;
    text-align: center;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#contenido > p {
    color: #b9e6ff;
}
#contenido > h5{
    color: #b9e6ff;
}

#producto>img{
    border-start-end-radius: 25px;
    border-start-start-radius: 25px;
    border-end-end-radius: 25px;
    border-end-start-radius: 25px;
    padding: 10px;
}
footer {
    background: #000000;
    padding: 60px 0 30px 0;
    margin:auto;
    overflow: hidden;
}
.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(3, 196, 255);
}
.content-foo{
    text-align: center;
}
.content-foo h4{
    color: rgb(255, 255, 255);
    border-bottom: 3px solid rgb(3, 196, 255);
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.content-foo p{
    color: rgb(255, 255, 255);
}
@media (max-width: 600px) {
    #header{
        background-color: #000000;
        flex-direction: column;
        display: flex;
    }
    .logo>h2{
        visibility: hidden;
    }
    .logo{
        padding-left: 100px;
    }
    .menu {
        width: 100%;
      }
    .carousel-item{    
        max-height: 262px;
    }
}